.bgBlue {
  background: #5b86ff; /* 스샷 느낌의 블루 */
}
.viewport {
  position: fixed;
 inset: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  background: #eef0f4;
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  max-width: 700px;     /* 아이폰 기준 폭 */
  min-height: 100%;
  margin: 0 auto;
  background: #fff;
  box-sizing: border-box;

  padding: 6vh 20px;
  padding-bottom: 100px; /* 하단 버튼 자리 */
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, sans-serif;
}
/* Intro1.module.css */

.center {
  flex: 1; /* base.content 안에서 가운데 밀어줌 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   transform: translateY(-20px);
}

.logo {
  width:176px;      /* ← 필요하면 80~120 조절 */
  height: auto;
  margin-bottom: 20px;
}

.titleArea {
  text-align: center;
}

.title1 {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 6px;
}

.title2 {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}
