.viewport {
  position: fixed;
 inset: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  background: #eef0f4;
}

/* 실제 '모바일 화면' 캔버스 */
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  max-width: 700px;     /* 아이폰 기준 폭 */
  min-height: 100%;
  margin: 0 auto;
  background: #fff;
  box-sizing: border-box;

  padding: 6vh 20px;
  padding-bottom: 100px; /* 하단 버튼 자리 */
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, sans-serif;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}

/* 하단 버튼 */
.bottomBtn {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: max(24px, env(safe-area-inset-bottom));
  width: 90%;               /* ✅ 화면 너비의 90% */
  max-width: 600px;         /* ✅ 너무 커지는 걸 방지 */
  margin: 0 auto;           /* ✅ 가운데 정렬 */
  display: block;
  height: 60px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(180deg, #f7f7f7 0%, #efefef 100%);
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  z-index: 10;
}

/* 회색(비활성 느낌) */
.grayBtn {
border-radius: 28px;
border: 2px solid var(--gray1_stroke, rgba(191, 195, 201, 0.20));
background: var(--gray1_fill, linear-gradient(292deg, rgba(191, 195, 201, 0.20) 9.14%, rgba(191, 195, 201, 0.10) 82.53%));

/* gray1 */
backdrop-filter: blur(6px);
  color: #8b8b8b;
}

/* 기본(회색이지만 텍스트 진하게 쓰고 싶으면) */
.grayBtnStrong {
  border-radius: 28px;
border: 2px solid var(--gray1_stroke, rgba(191, 195, 201, 0.20));
background: var(--gray1_fill, linear-gradient(292deg, rgba(191, 195, 201, 0.20) 9.14%, rgba(191, 195, 201, 0.10) 82.53%));

/* gray1 */
backdrop-filter: blur(6px);;
  color: #ffffff;
}

/* 카카오 */
.kakaoBtn {
  background: var(--kakao);
  border-radius: 28px;
background: #FEE500;
  font-weight: 800;
  color: #000;
text-align: center;

/* Heading4/regular */
font-family: Pretendard;
font-size: 19px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 28.5px */
}
